<template>
  <div class="row justify-content-center pt-3">
    <h2 class="col-md-8 article-title mb-3">
      {{ postContent.title }}
    </h2>
    <p class="col-md-10 text-left mb-5">
      {{ postContent.body }}
    </p>
    <div class="col-md-8 bg-light" v-for="comment in comments">
      <div class="media mb-4 p-3">
        <img
          class="d-flex mr-3 rounded-circle"
          src="http://placehold.it/50x50"
          alt=""
        />
        <div class="media-body">
          <h5 class="mt-0">{{ comment.name }}</h5>
          <small>{{ comment.email }}</small>
          <p>{{ comment.body }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Post",
  data() {
    return {
      postContent: this.$route.params.postContent,
      comments: []
    };
  },
  mounted() {
    this.axios
      .get(
        "https://jsonplaceholder.typicode.com/posts/" +
          this.postContent.id +
          "/comments"
      )
      .then(response => {
        this.comments = response.data;
      });
  }
};
</script>

<style scoped>
    .article-title {
        text-transform: capitalize;
    }
</style>
