<template>
  <div class="row">
    <div class="col-md-12 pt-4" v-for="post in posts">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">{{ post.title }}</h4>
        </div>
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">{{ post.body }}</h6>
        </div>
        <div class="card-footer text-center">
          <router-link
            :to="{
              name: 'post',
              params: { postId: post.id, postContent: post }
            }"
            class="card-link"
            >View Post</router-link
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Posts",
  data() {
    return {
      posts: []
    };
  },
  mounted() {
    this.fetchPosts();
  },
  methods: {
    fetchPosts() {
      this.axios
        .get(
          "https://jsonplaceholder.typicode.com/users/" +
            this.$route.params.userId +
            "/posts"
        )
        .then(response => {
          this.posts = response.data;
        });
    }
  }
};
</script>

<style scoped></style>
