<template>
  <div>
    <nav-bar />
    <div class="container-fluid">
      <router-view class="pt-3"></router-view>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import navBar from "../components/general/NavBar";

export default {
  name: "home",
  components: {
    navBar
  }
};
</script>

<style>
.card {
  border: 0px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-footer {
  background-color: #051321;
}

.card-title {
  text-transform: capitalize;
}

.card-footer a {
  color: #d18b49;
  font-weight: bolder;
  letter-spacing: 0.4em;
}
</style>
