<template>
  <div class="row">
    <User v-for="user in users" :user="user" />
  </div>
</template>

<script>
import User from "@/components/home/User";

export default {
  name: "Users",
  components: {
    User
  },
  data() {
    return {
      users: []
    };
  },
  mounted() {
    this.fetchUsers();
  },
  methods: {
    fetchUsers() {
      this.axios
        .get("https://jsonplaceholder.typicode.com/users/")
        .then(response => {
          this.users = response.data;
        });
    }
  }
};
</script>

<style scoped></style>
