<template>
  <div class="col-xl-12 col-md-12 col-sm-12 pt-4">
    <div class="card">
      <div class="card-content">
        <div class="card-body">
          <h4 class="card-title">{{ user.name }}</h4>
          <h6 class="card-subtitle text-muted">{{ user.email }}</h6>
          <small class="card-subtitle text-muted">{{ user.phone }}</small>
        </div>
        <div class="card-body">
          <p class="card-text">{{ user.address.suite + ", " + user.address.street + ", " + user.address.city}}</p>

        </div>
        <div class="card-footer text-center ">
            <router-link
                    :to="{ name: 'user-posts', params: { userId: user.id } }"
                    class="card-link pink"
            >posts</router-link
            >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "User",
  props: ["user"]
};
</script>

<style scoped>

</style>
