<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script></script>

<style>
#app {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  color: #2c3e50;
  background-color: #d18b49;
    min-height: 100vh;
}

nav a {
  font-weight: bold;
}

#nav a.router-link-exact-active {
  color: #42b983;
}


</style>
